<!DOCTYPE html>
<html>
<head>
  <title>Leanux</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


<script src="http://codeorigin.jquery.com/jquery-1.10.2.js"></script>

  <!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>


<body>
<header style="background-color:#5ac6ff; padding:20px 0 20px 0">

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%=image_tag("leanuxlogo.png" , :size => "200x50") %>
			</div>
			<div class="col-md-9">
				<ul class="nav pull-right">
					<li style="float:left"><%= link_to("Home", pages_home_path, :style=>"color:white") %> </li>
					<li style="float:left"><%= link_to("Brand", pages_brand_path, :style=>"color:white") %> </li>
					<li style="float:left"><%= link_to("Keynote", pages_keynote_path, :style=>"color:white") %> </li>
					<li style="float:left"><%= link_to("MVP", pages_mvp_path, :style=>"color:white") %></li>
				</ul>
			</div>
		</div>
	</div>

</div>
<%= yield %>

</body>
</html>
